﻿@model Veterinaria.FormModels.MenuFormModel

@{
    ViewBag.Title = "Veterinaria";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}

<div class="row  col-xs-12" style="align-self:center">
    <div class="col-xs-6">

        <img src="@Url.Content("~/Images/veterinaria.jpeg")" width="400" height="300" alt="imgf" />

    </div>

    <div class="panel panel-default col-xs-6">
     
        <div class="panel-heading">
            <h1 style="text-align:center">Especialiasta en: @Model.veteriaio.NombreEspe</h1>
        </div>
        <div class="panel-body" style="text-align:center">
            <dl class="dl-horizontal">
                <dt>Nombre:</dt>
                <dd>@Model.veteriaio.Nombre</dd>
                <dt>Apellido:</dt>
                <dd>@Model.veteriaio.Apellido</dd>
                <dt>Cédula:</dt>
                <dd>@Model.veteriaio.Cedula</dd>
                <dt>Correo:</dt>
                <dd>@Model.veteriaio.Correo</dd>
                <dt>Especialiasta:</dt>
                <dd>@Model.veteriaio.NombreEspe</dd>
            </dl>

        </div>
    </div>
</div>
<div class="col-xs-9">
    <h1 style="text-align:center">Mis Reservaciones</h1>
</div>

  
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th style="text-align:center">Cliente</th>
            <th style="text-align:center">Cédula</th>
            <th style="text-align:center">Teléfono</th>
            <th style="text-align:center">Fecha</th>
            <th style="text-align:center">Hora</th>
            <th style="text-align:center">Estado</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var c in Model.especialidades)
        {
        <tr>

            <th style="text-align:center">@c.UsuarioName @c.UsuarioApellido</th>
            <th style="text-align:center">@c.UsuarioCedula</th>
            <th style="text-align:center">@c.UsuarioCelular</th>
            <th style="text-align:center">@c.Fecha</th>
            <th style="text-align:center">@c.Hora</th>
            <th style="text-align:center">@c.NombreAtendido</th>
            <th style="text-align:center">


                <a href="@Url.Action("Pdf/"+@c.Id,"Veterinario")" class="btn btn-warning btn-lg" id="btnAdd">
                    Ver Pdf
                </a>
            <th style="text-align:center">

                <a href="@Url.Action("Delete/"+@c.Id,"Veterinario")" class="btn btn-success btn-lg" id="btnAdd">
                    Atender cita
                </a>

        </tr>

        }
    </tbody>

</table>




