﻿@model Veterinaria.FormModels.ReservaFormModel

@{
    ViewBag.Title = "Veterinaria";
}

<div class="jumbotron" style="align-self:center">
    <img src="@Url.Content("~/Images/portada.jpeg")" alt="imgf" />

</div>



<div class="row">
    <form action="/Home/Index" method="post">
        <div class="col-xs-9">
            <h1 style="text-align:center">Formulario de reserva</h1>
        </div>

        @if (ViewBag.showSuccessAlert)
        {
            <script>
                alert('Tu reserva fue registrada correctamente');
            </script>
        }


        <div class="col-md-12">
            <div class="panel panel-default bg-gray-light">
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="Nombre">Nombre:</label>
                                <input type="text" class="form-control" name="Nombre" placeholder="Nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="Apellido">Apellido:</label>
                                <input type="text" class="form-control" name="Apellido" placeholder="Apellido" required>
                            </div>
                            <div class="form-group">
                                <label for="Cedula">Cedula:</label>
                                <input type="number" class="form-control" name="Cedula" placeholder="Cedula" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="Direccion">Direccion:</label>
                                <input type="text" class="form-control" name="Direccion" placeholder="Direccion" required>
                            </div>
                            <div class="form-group">
                                <label for="Telefono">Telefono:</label>
                                <input type="number" class="form-control" name="Telefono" placeholder="Telefono" required>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Correo)
                                <label for="Correo">Correo:</label>
                                <input type="text" class="form-control" name="Correo" placeholder="Correo" required>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="Correo">Especialidad:</label>

                                @Html.DropDownListFor(m => m.IdEspecialidad, Model.especialidades, "Seleccione Uno", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.IdEspecialidad)
                            </div>

                            <div class="form-group">
                                <label for="Fecha">Fecha:</label>
                                <input type="date" class="form-control" name="Fecha" placeholder="Fecha" required>
                            </div>

                            <div class="form-group">
                                <label for="Hora">Hora:</label>
                                <input type="time" class="form-control" name="Hora" placeholder="Hora" required>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <a class="btn btn-default pull-right"
                               href="@Url.Action("index", "home")">
                                <i class="fa fa-ban"></i>
                            </a>
                            <button class="btn btn-primary" type="submit">
                                Generar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>

</div>