﻿@model Veterinaria.FormModels.LoginFormModel

@{
    ViewBag.Title = "Login";

}

<div class="jumbotron col-xs-4" style="align-self:center">

    @if (ViewBag.showErrorAlert)
    {

        <script>
            alert('Usuario incorrecto');
        </script>
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <p class="login-box-msg">Login</p>

        <div class="form-group has-feedback">
            <input type="text" class="form-control" name="Nombre" placeholder="Nombre" required>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>


        </div>


        <div class="form-group has-feedback">
            <input type="password" class="form-control" name="Contrasena" placeholder="Contrasena" required>

            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>

        <div class="row">

            <div class="col-xs-6">
                <button type="submit" class="btn btn-primary btn-block btn-flat">
                    <i class="fa fa-sign-in">Ingresar</i>
                </button>
            </div>


            <a href="@Url.Action("Registro","Home")" class="btn btn-default" id="btnAdd">
                <i class="fa fa-plus"></i>
                Nuevo Veterinario
            </a>
        </div>


    }

</div>
