﻿@model Veterinaria.FormModels.MenuFormModel

@{
    ViewBag.Title = "Veterinaria";
}

<div class="jumbotron" style="align-self:center">
    <img src="@Url.Content("~/Images/veterinaria.jpeg")" width="400" height="300" alt="imgf" />
    <div class="panel panel-default">
        <div class="panel-heading">Información personal</div>
        <div class="panel-body" style="text-align:center">
            <dl class="dl-horizontal">
                <dt>Nombre:</dt>
                <dd>@Model.veteriaio.Nombre</dd>
                <dt>Apellido:</dt>
                <dd>@Model.veteriaio.Apellido</dd>
                <dt>Cédula:</dt>
                <dd>@Model.veteriaio.Cedula</dd>
                <dt>Correo:</dt>
                <dd>@Model.veteriaio.Correo</dd>
            </dl>

        </div>
    </div>
</div>
<div class="col-xs-9">
    <h1 style="text-align:center">Mis Citas</h1>
</div>

<tr class="panel-body">
    <ul class="list-group">
        <table class="table table-hover">
            <thead class="thead-light">

                <tr>
                    <th style="text-align:center">Nombre</th>
                    <th style="text-align:center">Apellido</th>
                    <th style="text-align:center">Cédula</th>
                    <th style="text-align:center">Dirección</th>
                    <th style="text-align:center">Teléfono</th>
                    <th style="text-align:center">Correo</th>
                    <th style="text-align:center">Fecha</th>
                    <th style="text-align:center">Hora</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var c in Model.especialidades)
                {
                    <tr>
                        <th>
            <li class="list-group-item" style="text-align:center">@c.Nombre</li></th>
            <th>
            <li class="list-group-item" style="text-align:center">@c.Apellido</li></th>
            <th>
            <li class="list-group-item" style="text-align:center">@c.Cedula</li></th>
            <th>
            <li class="list-group-item" style="text-align:center">@c.Direccion</li></th>
            <th>
            <li class="list-group-item" style="text-align:center">@c.Telefono</li></th>
            <th>
            <li class="list-group-item" style="text-align:center">@c.Correo</li></th>
            <th>
            <li class="list-group-item"style="text-align:center">@c.Fecha</li></th>
            <th>
            <li class="list-group-item" style="text-align:center">@c.Hora</li></th>
    </tr>

}</tbody>

                </table>
                </ul>

                </div>



