﻿@model Veterinaria.FormModels.LoginFormModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-logo">
    <b>Veterinaria</b>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="login-box-msg">Login</p>
    <div class="form-group has-feedback">
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", placeholder = "Nombre de usuario" })
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        @Html.ValidationMessageFor(m => m.Nombre)
    </div>
    <div class="form-group has-feedback">
        @Html.PasswordFor(model => model.Contrasena, new { @class = "form-control", placeholder = "contraseña" })
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        @Html.ValidationMessageFor(m => m.Contrasena)
    </div>
    <div class="form-group has-feedback">
        @Html.DropDownListFor(model => model.ProjectId, Model.Projects, "Escoja un Proyecto", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ProjectId)
    </div>


    <div class="row  center-block">
                <div class="center-block">
                    <button type="submit" class="btn btn-primary btn-lg">
                        Ingresar
                    </button>
                </div>
               
            
            <div class="row ">
                <div class="col-xs-5">
                    <a href="@Url.Action("Registro","Cliente")" class="btn btn-secondary btn-lg" id="btnAdd">
                        Nuevo cliente
                    </a>
                </div>
                <div class="col-xs-6">

                    <a href="@Url.Action("Registro","Veterinario")" class="btn btn-secondary btn-lg" id="btnAdd">
                        Nuevo Veterinario
                    </a>
                </div>
            </div>

    </div>


}
@section css
{
    <link rel="stylesheet" href="~/Scripts/plugins/iCheck/square/blue.css" />
}


