﻿@model Veterinaria.FormModels.MenuFormModel

@{
    ViewBag.Title = "Veterinaria";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}

<div class="row  col-xs-12" style="align-self:center">
    <div class="col-xs-6">

        <img src="@Url.Content("~/Images/veterinaria9.jpg")" width="400" height="300" alt="imgf" />
    </div>
    <div class="panel panel-default col-xs-6">

        <div class="card " style="text-align:center">
            <div class="panel-heading">Información personal</div>

            <dl class="dl-horizontal">
                <dt>Nombre:</dt>
                <dd>@Model.veteriaio.Nombre</dd>
                <dt>Apellido:</dt>
                <dd>@Model.veteriaio.Apellido</dd>
                <dt>Cédula:</dt>
                <dd>@Model.veteriaio.Cedula</dd>
                <dt>Correo:</dt>
                <dd>@Model.veteriaio.Correo</dd>

            </dl>

        </div>

        <div class="col-xs-12" style="text-align:center">
            <a href="@Url.Action("Reserva/"+@Model.veteriaio.Id,"Cliente")" class="btn btn-primary btn-lg" id="btnAdd">
                Generar nueva cita
            </a>
        </div>
    </div>



</div>
<div class="col-xs-9">
    <h1 style="text-align:center">Mis Citas</h1>
</div>


<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th style="text-align:center">Detalle</th>
            <th style="text-align:center">Especialidad</th>
            <th style="text-align:center">Fecha</th>
            <th style="text-align:center">Hora</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var c in Model.especialidades)
        {
            <tr>

                <th style="text-align:center">@c.Detalle</th>
                <th style="text-align:center">@c.NombreEspe</th>
                <th style="text-align:center">@c.Fecha</th>
                <th style="text-align:center">@c.Hora</th>
                <th style="text-align:center">


                    <a href="@Url.Action("Edit/"+@c.Id,"Cliente")" class="btn btn-warning btn-lg" id="btnAdd">
                        Editar
                    </a>
                <th style="text-align:center">

                    <a href="@Url.Action("Pdf/"+@c.Id,"Cliente")" class="btn btn-success btn-lg" id="btnAdd">
                        Ver Cita PDF
                    </a>

            </tr>

        }
    </tbody>

</table>




