﻿@model Veterinaria.FormModels.VeterinarioFormModel

@{
    ViewBag.Title = "Veterinaria";
    Layout = "~/Views/Shared/_LayoutRegistro.cshtml";

}

<div class="row">
    <div class="center-block">
        <img src="@Url.Content("~/Images/veterinaria.jpeg")" width="400" height="300" alt="imgf" />

    </div>
    <div class="center-block">
        <div class="row">
            <form action="/Cliente/Registro" method="post">
                <div class="col-xs-9">
                    <h1 style="text-align:center">Datos personales Cliente</h1>
                </div>

                <div class="col-md-12">
                    <div class="panel panel-default bg-gray-light">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="Nombre">Nombre:</label>
                                        <input type="text" class="form-control" name="Nombre" placeholder="Nombre" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="Apellido">Apellido:</label>
                                        <input type="text" class="form-control" name="Apellido" placeholder="Apellido" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="Cedula">Cedula:</label>
                                        <input type="text" class="form-control" name="Cedula" placeholder="Cedula" required>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label for="Telefono">Telefono:</label>
                                        <input type="number" class="form-control" name="Telefono" placeholder="Telefono" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="Correo">Correo:</label>
                                        <input type="text" class="form-control" name="Correo" placeholder="Correo" required>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="panel-heading">
                                </div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label for="Correo">Contrasena:</label>
                                        <input type="text" class="form-control" name="Contrasena" placeholder="Contrasena" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="Correo">Contrasena:</label>
                                        <input type="text" class="form-control" name="Contrasena" placeholder="Contrasena" required>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12">
                                    <a class="btn btn-default pull-right"
                                       href="@Url.Action("Registro", "Cliente")">
                                        <i class="fa fa-ban"></i>
                                    </a>
                                    <button class="btn btn-primary" type="submit">
                                        Guardar
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
