﻿@model Veterinaria.FormModels.ReservaFormModel


@{
    ViewBag.Title = "Veterinaria";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}
<div class="col-md-12">
    <div class="col-xs-12">
        <h1 style="text-align:center">Formulario de reserva</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img src="@Url.Content("~/Images/portada.jpeg")" width="550" alt="imgf" />
        </div>
        <div class="row col-md-6">
            <form action="/Administrador/Edit" method="post">
                <div class="panel panel-default bg-gray-light">
                    <div class="row">
                        <div class="col-md-6">

                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="Correo">Especialidad:</label>

                                    @Html.DropDownListFor(m => m.IdEspecialidad, Model.especialidades, "Seleccione Uno", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.IdEspecialidad)
                                </div>
                                <div class="form-group">
                                    <label for="Detalle">Detalle:</label>
                                    <textarea type="text" class="form-control" name="Detalle" placeholder="Detalle" required>@Model.Detalle</textarea>

                                </div>



                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="panel-body">
                                <div class="form-group" style="display:none">
                                    @Html.LabelFor(m => m.IdUsuario)
                                    @Html.TextBoxFor(m => m.IdUsuario, new { @class = "form-control", placeholder = "Nombre de la Ciudad" })
                                    @Html.ValidationMessageFor(m => m.IdUsuario)
                                </div>
                                <div class="form-group" style="display:none">
                                    @Html.LabelFor(m => m.Id)
                                    @Html.TextBoxFor(m => m.Id, new { @class = "form-control", placeholder = "Nombre de la Ciudad" })
                                    @Html.ValidationMessageFor(m => m.Id)
                                </div>

                                <div class="form-group">
                                    <label for="Fecha">Fecha:</label>
                                    <input value="@Model.Fecha.ToString("yyyy-MM-dd")" type="date" class="form-control" name="Fecha" placeholder="Fecha" required>
                                </div>

                                <div class="form-group">
                                    <label for="Hora">Hora: </label>
                                    <input value="@Model.Hora.ToString("HH:mm:ss")" type="time" class="form-control" name="Hora" placeholder="Hora" required>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12">
                                <a class="btn btn-default pull-right"
                                   href="@Url.Action("Reserva", "Cliente")">
                                    <i class="fa fa-ban"></i>
                                </a>
                                <button class="btn btn-primary" type="submit">
                                    Generar
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>
</div>