﻿@model Veterinaria.FormModels.LoginFormModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-logo">
    <b>Adminsitrador</b>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="login-box-msg">Login</p>
    <div class="form-group has-feedback">
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", placeholder = "Nombre de usuario" })
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        @Html.ValidationMessageFor(m => m.Nombre)
    </div>
    <div class="form-group has-feedback">
        @Html.PasswordFor(model => model.Contrasena, new { @class = "form-control", placeholder = "contraseña" })
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        @Html.ValidationMessageFor(m => m.Contrasena)
    </div>
    


    <div class="row">
        <div class="col-xs-8">
            @*
            <div class="checkbox icheck">
                <label>
                    @Html.CheckBoxFor(model => model.RememberMe)
                    Recordarme
                </label>
            </div>*@
        </div>
        <div class="col-xs-8">
            <div class="row">

                <div class="col-xs-6">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">
                        <i class="fa fa-sign-in">Ingresar</i>
                    </button>
                </div>
             


            </div>
        </div>
    </div>


}
@section css
{
    <link rel="stylesheet" href="~/Scripts/plugins/iCheck/square/blue.css" />
}


