﻿@model Veterinaria.FormModels.MenuFormModel

@{
    ViewBag.Title = "Veterinaria";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";


}

<div class="row  col-xs-12" style="align-self:center">
    <div class="col-xs-6">

        <img src="@Url.Content("~/Images/unnamed (1).jpg")" width="450" height="300" alt="imgf" />
    </div>

    <div class="panel panel-default col-xs-6">
        <div class="panel-heading">Información personal Administrador</div>
        <div class="panel-body" style="text-align:center">
            <dl class="dl-horizontal">
                <dt>Nombre:</dt>
                <dd>@Model.veteriaio.Nombre</dd>
                <dt>Apellido:</dt>
                <dd>@Model.veteriaio.Apellido</dd>

            </dl>
            <div class="col-xs-9 center-block">
                <h1 style="text-align:center">Reporte </h1>
            </div>
            <form action="/Administrador/ObtenerMisEnviosXmlExcel" method="post">
                <div class="col-md-12">
                    <div class="panel panel-default bg-gray-light">
                        <div class="row">
                           <div class="form-group col-md-6 ">
                                        <label for="desde">Desde:</label>
                                        <input value="@Model.desde" type="date" class="form-control" name="desde" placeholder="Fecha" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="hasta">Hasta: </label>
                                        <input value="@Model.hasta" type="date" class="form-control" name="hasta" placeholder="Hora" required>
                                    </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-12">
                                    <a class="btn btn-default pull-right"
                                       href="@Url.Action("ObtenerMisEnviosXmlExcel", "Administrador")">
                                        <i class="fa fa-ban"></i>
                                    </a>
                                    <button class="btn btn-primary" type="submit">
                                        Generar
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>


        </div>

    </div>
</div>



<div class="col-xs-9">
    <h1 style="text-align:center">Todas las  citas reservadas</h1>
</div>

<table class="table table-striped">
    <thead class="thead-dark">

        <tr>
            <th style="text-align:center">Cliente</th>
            <th style="text-align:center">Teléfono</th>
            <th style="text-align:center">Fecha</th>
            <th style="text-align:center">Hora</th>
            <th style="text-align:center">Estado</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var c in Model.especialidades)
        {
            <tr>

                <th style="text-align:center">@c.UsuarioName @c.UsuarioApellido</th>
                <th style="text-align:center">@c.UsuarioCedula</th>
                <th style="text-align:center">@c.Fecha</th>
                <th style="text-align:center">@c.Hora</th>
                <th style="text-align:center">@c.NombreAtendido</th>

                <th style="text-align:center">


                    <a href="@Url.Action("Pdf/"+@c.Id,"Administrador")" class="btn btn-warning btn-lg" id="btnAdd">
                        Ver PDF
                    </a>
                <th style="text-align:center">

                    <a href="@Url.Action("Edit/"+@c.Id,"Administrador")" class="btn btn-success btn-lg" id="btnAdd">
                        Editar
                    </a>

             <th style="text-align:center">

            <a href="@Url.Action("Delete/"+@c.Id,"Administrador")" class="btn btn-danger btn-lg" id="btnAdd">
                Eliminar
            </a>

            </tr>
    }
        </tbody>

    </table>
                =


