﻿@model Veterinaria.FormModels.MenuFormModel

@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="~/EstilosFactura/css/bootstrap.css" rel="stylesheet" />
    <link href="~/EstilosFactura/css/factura.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <!--        <hr style="
            height: 35px;
            background-color: orangered;
            margin-left:-15px;
            margin-right:-15px;
        ">-->
        <div class="row" id="infoempresa">
            <br />
            <div class="col-xs-1">

                <img style="border-radius: 70px;" src="~/EstilosFactura/image/logo.png" width="70" height="70" />
            </div>
            <div class="col-xs-7">

                <h4>Veterinaria </h4>
                <h5>Nombre: Veterinara San Pancho </h5>
                <h5>Telefono: 1234353 </h5>
            </div>
            <div class="col-xs-3" id="divfactura">
                <br>
                <h3>Reserva</h3>
                <hr>

            </div>
        </div>







        <div class="row" id="pedido">


            <div class="col-xs-6" id="infode">
                <h4> Usuario: </h4>
                <hr />
                <table>
                    <thead>
                        <tr>
                            <th style="text-align: start;"> </th>
                            <th style="text-align: start;"> </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h5>
                                    Nombre:
                                </h5>
                            </td>
                            <td>
                                <h5>
                                    @Model.veteriaio.Nombre
                                </h5>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h5>
                                    Apellido:
                                </h5>
                            </td>
                            <td>
                                <h5>
                                    @Model.veteriaio.Apellido

                                </h5>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>
                                    Correo:
                                </h5>
                            </td>
                            <td>
                                <h5>
                                    @Model.veteriaio.Correo

                                </h5>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>
                                    Cédula:
                                </h5>
                            </td>

                            <td>
                                <h5>
                                    @Model.veteriaio.Cedula

                                </h5>
                            </td>
                        </tr>
                      

                    </tbody>
                </table>

            </div>
            <div class="col-xs-6" id="infode">
                <h4> Reserva: </h4>
                <!--Ciudad 2 direcciones y codigo postal -->
                <hr />
                <table>
                    <thead>
                        <tr>
                            <th style="text-align: start;"> </th>
                            <th style="text-align: start;"> </th>
                        </tr>

                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                <h5>Detalle:  </h5>
                            </td>
                            <td>
                                <h5>
                                    @Model.Reserva.Detalle

                                </h5>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Fecha:</h5>
                            </td>
                            <td>
                                <h5>
                                    @Model.Reserva.Fecha

                                </h5>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>
                                    Hora:
                                </h5>
                            </td>
                            <td>
                                <h5>
                                    @Model.Reserva.Hora

                                </h5>

                            </td>
                        </tr>


                    </tbody>
                </table>

            </div>



        </div>
        <hr />


        <br />


    </div>
</body>
</html>
